header{
    background-color: #4aaaa5;
    border-color: #cccccc;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
}

h1{
    background-color: #4aaaa5;
}

nav{
    float:right;
}

h2{
    color:#4aaaa5
}

span{
    text-align: center;
    width: 100px;
    position: relative; top: 30px;
    margin: 20px;
    font-weight: 900;
}

/* .vertical-line{
    border-right: solid grey;
    padding: 20px;
} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    margin: auto;
    background-image:url(../assets/images/leaves.jpeg);
    background-repeat: repeat;
}

.images{
    min-width:50px;
    height:50px;
    float:left;
}

.group .form-group{
    padding-bottom:15px;
}

.group label{
    display:block;
    text-align:left;
}

.group input[type="text"]{
    padding: 8px;
    width:940px;
}

.group textarea{
    width: 940px;
    height: 200px;
    padding:8px;
}

.button{
    background-color:#4aaaa5;
    color: white;
}

footer{
    background-color: #666666
}